NODE_ENV=development

B2_ENDPOINT=https://s3.us-east-005.backblazeb2.com
B2_REGION=us-east-005
B2_BUCKET=otokumobileapp
B2_DOWNLOAD_BASE=https://otokumobileapp.s3.us-east-005.backblazeb2.com

B2_ACCESS_KEY_ID=005
B2_SECRET_ACCESS_KEY=K00

OTOKU_API_BASE_URL=https://otokuverse.com
OTOKU_API_TOKEN=selim

WORKER_SOURCE=all

SIYAHMELEK_PAGE_START=1
SIYAHMELEK_PAGE_MAX=160
SIYAHMELEK_MISSING_LIMIT=5

WORKER_CONCURRENCY=5
WORKER_RETRY_COUNT=5
WORKER_RETRY_DELAY=1000
